:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.App {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.filter-tasks {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1em;
}

.category-filter {
  width: 80%;
  height: 2em;
  padding: 0.2em 0.4em;
  color: rgba(51, 51, 51, 1);
}

.clear-filter {
  position: relative;
  background-color: #f44336;
  width: 5em;
  height: 2.25em;
  color: #fff;
  box-shadow: 0 3px 0 0 #732727;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, top 0.3s ease;

  &:hover {
    background-color: #d32f2f;
  }

  &:active {
    top: 2px;
    box-shadow: none;
  }
}

